@{
    ViewBag.Title = "SuccessfulRegister";
}

<h2 style="text-align:center;font-family:'Open Sans-CondLight'">Register Successful</h2>
<p style="text-align:center; font-size: 20px; font-weight: 400; margin:20px 10px; font-family:'Open Sans-CondLight'">
    Congratulations!
</p>
<p style="text-align:center; font-size: 20px; font-weight: 400;margin:20px 10px;font-family:'Open Sans-CondLight'">
    You have successfully completed the registration.
</p>
<p style="text-align:center;font-size: 20px; font-weight: 400;margin:20px 10px;font-family:'Open Sans-CondLight'">
    Please check your  email to verify your account.
</p>
<p style="text-align:center;font-size: 20px; font-weight: 400;margin:20px 10px;font-family:'Open Sans-CondLight'">
    The Exceptionals Team.
</p>


